:root{
    background:#F0A202 ;

    
    --buttons: #00798c;
}

.buttons{
    background-color: var(--buttons);
}

.text-f{
    font-size: larger;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}